rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /student_results/{document} {
      allow read, write: if true;
    }
    match /student_activities/{document} {
      allow read, write: if true;
    }
    match /settings/{document} {
      allow read, write: if true;
    }
  }
}
